<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Dinheiro</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="../">Meu Dinheiro</a>
       <div class="nav-collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><a href="<%= transactions_path %>"><i class="icon-white icon-retweet"></i> Movimentações</a></li>
          <li><a href="<%= transactions_path %>"><i class="icon-white icon-calendar"></i> Calendário</a></li>
        </ul>
        <ul class="nav pull-right" id="main-menu-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Minha conta"><i class="icon-white icon-home"></i> Diogo Benicá <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Minha conta</a></li>
              <li class="divider"></li>
              <li><a href="#">Sair</a></li>
            </ul>
          </li>
          <li></li>
        </ul>
       </div>
     </div>
   </div>
 </div>

 <div class="container" id="master-container">
   <% if errors = flash_message %>
   <div class="row">
     <div class="span12">
       <div class="alert alert-error">
         <%= show_errors errors %>
       </div>
     </div>
   </div>
   <% end %>
   <div class="row">
     <div class="span3">
      <h4>Últimas movimentações</h4>
     	<table class="table last-transactions table-bordered">
     	  <tr>
          <th class="last-transactions-subheader">Descrição</th>
          <th class="last-transactions-subheader"><span class="label label-warning">Saídas</span></th>
     	  	<th class="last-transactions-subheader"><span class="label label-success">Entradas</span></th>
     	  </tr>
   	  	<% get_last_transactions do |transaction| %>
          <tr>
            <td>
              <%= 
              if transaction.description.length > 20 then
                "#{transaction.description[0,19]}..."
              else
                transaction.description
              end
              %>
            </td>
            <td class="last-transaction-negative"><%= transaction.value if transaction.value < 0 %></td>
            <td class="last-transaction-positive"><%= transaction.value if transaction.value > 0 %></td>
          </tr>
        <% end %>
        <tr>
          <td class="final_balance">Saldo</td>
          <td colspan="2" class="final_balance"><%= final_balance %></td>
        </tr>
     	</table>
     </div>
     <div class="span9">
     	<%= yield %>
     </div>
   </div>
</body>
</html>